body {
    /*animation: 4ms linear 0s infinite backgroundcolor;*/
   /* background-color: lightyellow;*/
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.bg-image{
    margin-top: 0;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-image: url('33.png');
    filter: blur(20px);
    z-index: -2;
}

@keyframes backgroundcolor {
    from {
        background-color:WHITE;
    }
    to {
        background-color:BLACK;
    }
}

.mainText{
    padding-top: 5vh;
    margin: 0 auto;
    text-align: center;
    font-size: 72px;
    font-family: 'Comic Sans MS', sans-serif;
    font-weight: 100;
}
.minorText{
    padding-top: 5vh;
    margin-top: 0;
    margin-bottom: -2vh;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-size: 24px;
    font-family: 'Comic Sans MS', sans-serif;
    font-weight: 100;
}

h1{
    margin: 0;
}
h3{
    margin: 20px;
}
.button{
    position: relative;
    font-family: 'Times New Roman', sans-serif;
    font-size: 30px;
    font-weight: 500;
    border: 2px solid #80b7fe;
    transition-duration: 0.2s;
    border-radius: 30px;
    background-color: #80b7fe;
    margin-top:50px;
        --buttonWidth: 350px;
        width: var(--buttonWidth);
    margin-left: calc(50% - var(--buttonWidth)/2);
    height: 100px;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
    margin-bottom: 124px;
}


.button:hover{
    background-color: transparent;
}

@keyframes buttonColor{
    from {
        border: 1px solid #80b7fe;
    }
    to {
        border: 14px solid red;
    }
}
.diag{
    margin-top: -5vh;
    position: static;
    text-align: center;
}

.inline-1{
    animation: 1s linear 0s forwards video;
    font-size:40px;
}

@keyframes video {
    from {
        opacity: 0;
        left: 0;
    }
    to {
        opacity: 100%;
        left: -420px;
    }
}



.inline-2{
    opacity: 0;
    color: white;
    animation: 1s ease-in-out 1s forwards diagnozaRight;
    position: relative;
    text-align: center;
    font-size: 40px;
    top: -210px;
    z-index: -1;
}
@media(max-width: 850px){
    .inline-2{
        animation: 1s ease-in-out 1s forwards diagnozaBottom;
    }
}

@keyframes diagnozaBottom {
    from{

        top: -210px;
    }
    to{
        opacity: 100%;
        top: 50px;
    }

}
@keyframes diagnozaRight {
    from {
        left: -420px;
    }
    to {
        opacity: 100%;
        left: 0;
    }
}

.inline-3{
    display: none;
}
.inline-4{
    display: none;
}

.blackScreen{
    top: 0;
    left: 0;
    animation: 0.15s linear 0s forwards blackblack;
    position: fixed;
    width: 100%;
    height: 100%;
}

@keyframes blackblack{
    from{
        background-color: rgba(0,0,0,0);
    }
    to{
        background-color: rgba(0,0,0,0.7);
    }
}

@media(max-width: 1005px){
    .ad1{
        width: 100%;
    }
}


.ad1{
    opacity: 0;
}

.reklama{
    position: fixed; width: 100%;  bottom: 0; cursor: pointer; display: flex; justify-content: center;
}

.closeButton{
    cursor: not-allowed;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 15px;
    height: 15px;
    opacity: 0;
}
.button:active {

    content: "";
    background: #80b7fe;
    font-size: 50px;
}