body {
    /*animation: 4ms linear 0s infinite backgroundcolor;*/
   /* background-color: lightyellow;*/
    margin: 0;
}

.bg-image{
    margin-top: 0;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-image: url('33.png');
    filter: blur(20px);
    z-index: -2;
}

@keyframes backgroundcolor {
    from {
        background-color:WHITE;
    }
    to {
        background-color:BLACK;
    }
}

.mainText{
    padding-top: 5vh;
    margin: 0 auto;
    text-align: center;
    font-size: 72px;
    font-family: 'Comic Sans MS', sans-serif;
    font-weight: 100;
}
.minorText{
    padding-top: 5vh;
    margin-top: 0;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-size: 24px;
    font-family: 'Comic Sans MS', sans-serif;
    font-weight: 100;
}

h1{
    margin: 0;
}
h3{
    margin: 20px;
}
.button{
    position: relative;
    font-family: 'Times New Roman', sans-serif;
    font-size: 30px;
    font-weight: 500;
    border: 2px solid #80b7fe;
    transition-duration: 0.2s;
    border-radius: 30px;
    background-color: #80b7fe;
    margin-top:50px;
        --buttonWidth: 350px;
        width: var(--buttonWidth);
    margin-left: calc(50% - var(--buttonWidth)/2);
    height: 100px;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
}

@keyframes diagnoza {
    from {
        left: -420px;
    }
    to {
        left: 0;
    }
}

.button:hover{
    background-color: transparent;
}

@keyframes buttonColor{
    from {
        border: 1px solid #80b7fe;
    }
    to {
        border: 14px solid red;
    }
}
.diag{
    position: static;
    text-align: center;
}

.inline-1{
    font-size:40px;
}

/*.inline-2{
    position: relative;
    left: -420px;
    font-size: 40px;
    top: -210px;
    z-index: -1;
}
*/

.button:active {

    content: "";
    background: #80b7fe;
    font-size: 50px;
}